<article class="post-item">
  <h2>
    <%=blog.title %>
  </h2>
  <p class="post-item-author">By <%= blog.name%>
  </p>
  <p>
    <%=blog.body %>
  </p>
  <div class="post-actions">
    <form action="/posts/<%=blog.id%>/delete" method="POST">
      <button class="btn btn-alt">Delete Post</button>
    </form>
    <a href="/posts/<%=blog.id%>/update-post">Edit Post</a>
    <a class="btn" href="/posts/<%=blog.id%>">View Post</a>
  </div>
</article>